apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch-producer
spec:
  selector:
    matchLabels:
      app: batch-producer
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: batch-producer
    spec:
      containers:
      - name: batch-producer
        image: gcr.io/kafka-streaming-tests/kafka-streaming-py
        command: ["python", "python/producers/producer_batch.py"]
#        imagePullPolicy: Never
        resources:
          requests:
            memory: 0.1G
            cpu: 0.2
          limits:
            memory: 0.5G
            cpu: 0.4
        env:
        - name: LOG_LEVEL
          value: "INFO"
        - name: KAFKA_TOPIC
          valueFrom:
            configMapKeyRef:
              name: kafka-configs
              key: input_topic
        - name: KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: kafka-configs
              key: bootstrap_servers
        - name: NUMBER_OF_MESSAGES
          value: "200"
        - name: NUMBER_OF_SECONDS
          value: "5"
