apiVersion: apps/v1
kind: Deployment
metadata:
  name: results-consumer
spec:
  selector:
    matchLabels:
      app: results-consumer
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: results-consumer
    spec:
      volumes:
        - name: sqlite-db-volume
          persistentVolumeClaim:
            claimName: model-repo-claim
      containers:
      - name: results-consumer
        image: kafka-streaming-py
        command: ["python", "python/results_consumer.py"]
        imagePullPolicy: Never
        resources:
          requests:
            memory: 0.1G
            cpu: 0.2
          limits:
            memory: 0.5G
            cpu: 1
        env:
        - name: LOG_LEVEL
          value: "INFO"
        - name: KAFKA_TOPIC
          valueFrom:
            configMapKeyRef:
              name: kafka-configs
              key: output_topic
        - name: KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: kafka-configs
              key: bootstrap_servers
        - name: SQLITE_PATH
          value: "/data/results.db"
        volumeMounts:
          - mountPath: "/data"
            name: sqlite-db-volume
