apiVersion: apps/v1
kind: Deployment
metadata:
  name: sequence-producer
spec:
  selector:
    matchLabels:
      app: sequence-producer
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: sequence-producer
    spec:
      containers:
      - name: sequence-producer
        image: kafka-streaming-py
        command: ["python", "python/producers/producer_sequence.py"]
        imagePullPolicy: Never
        resources:
          requests:
            memory: 0.1G
            cpu: 0.2
          limits:
            memory: 0.5G
            cpu: 1
        env:
        - name: LOG_LEVEL
          value: "INFO"
        - name: KAFKA_TOPIC
          valueFrom:
            configMapKeyRef:
              name: kafka-configs
              key: input_topic
        - name: KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: kafka-configs
              key: bootstrap_servers
        - name: NUMBER_OF_MSGS_PER_SECOND
          value: "200"